@using TeknikDestek.WebApp
@model TeknikDestek.Entities.Supporter
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h4>Kullanıcı</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.user.firstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.user.firstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.user.lastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.user.lastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.user.userName)
            </dt>
            <dd>
               @Html.DisplayFor(model => model.user.userName)
            </dd>  
            <dt>
                @Html.DisplayNameFor(model => model.user.password)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.user.password)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.user.phoneNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.user.phoneNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.user.userStatus)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.user.userStatus)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.user.supId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.user.supId)
            </dd>
            
            
        </dl>
        <div class="col-md-8 col-md-offset-2">
            <p>
                @Bootstrap.LinkButton("/Supporter/Edit/" + Model.Id, "warning", string.Empty, string.Empty, "edit", " Düzenle")
                @Bootstrap.LinkButton("/Supporter/Index", "default", string.Empty, string.Empty, "arrow-left", " Geri Dön!")
            </p>
        </div>
    </div>
</div>